@import './variables.css';
@import './globals.css';
@import './medias.css';

@import './components/color.css';
@import './components/navbar.css';
@import './components/header.css';
@import './components/about.css';
@import './components/skills.css';
@import './components/projects.css';
@import './components/footer.css';
@import './components/color.css';