
h3{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /* text-transform: uppercase; */
    font-size: 35px;
}
h4{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
h2{
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-size: 100px;
}
h1{
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-size: 137px;
}
.topicos > p{
  font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
