h3 {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  /* text-transform: uppercase; */
  font-size: 35px;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

h2 {
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-size: 90px;
}

h1 {
  font-family: "Jaro", sans-serif;
  font-weight: 400;
  font-size: 137px;
}

.topicos>p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



footer>.linhaFooter>.coluna1>.nome {
  font-size: 50px;
}

footer>.linhaFooter>.coluna1>.texto {
  font-size: 16px;
}
footer>.linhaFooter>.coluna1>.texto>a:hover {
  transition: 0.5s;
  cursor: pointer;
}

.emailFooter {
  font-weight: bold;
  text-decoration: none;
}

.emailFooter:hover {
  transition: 0.5s;
}


footer>.linhaFooter>.coluna2>.container>h4 {
  font-size: 32px;
}

footer>.linhaFooter>.coluna2>.container>.navbar>ul>li>a {
  text-decoration: none;
}

footer>.linhaFooter>.coluna2>.container>.navbar>ul>li>a:hover {
  transition: 0.5s;
}

footer>.linhaFooter>.coluna2>.container>.redesSociaisNavBar>ul>li>a {
  text-decoration: none;
}

footer>.linhaFooter>.coluna2>.container>.redesSociaisNavBar>ul>li>a:hover {
  transition: 0.5s;
}

footer .Copyright {
  font-weight: bold;
  font-size: 16px;
}