/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;

}

html,
body {
  height: 100%;
  margin: 0;
  display: block;
}

li {
  list-style: none;
}

input {
  width: 100%;
  padding: 12px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 8px;
}

body {
  background-color: var(--darkgray) !important;
  background-image: url(../assets/bg.png);
  background-size: auto auto;
  background-position: 100%;
  background-repeat: no-repeat;
}

footer {
  background-image: url(../assets/bgfooter.png);
  background-size: cover;
  background-position: center;
}