/* Estilos Globais */
* {
  margin: 0;
  /* Remove a margem padrão */
  padding: 0;
  /* Remove o preenchimento padrão */
  box-sizing: border-box;
  /* Inclui padding e border no tamanho total do elemento */
  scroll-behavior: smooth;
  /* Suaviza o comportamento de rolagem */
  font-family: 'DM Sans', sans-serif;
  /* Define a fonte padrão */
  /* border: 3px red solid; */
  /* Comentado: borda para depuração */
}

html,
body {
  height: 100%;
  margin: 0;
  display: block;
}

li {
  list-style: none;
}

input {
  width: 100%;
  padding: 12px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
  border: 0px;
  border-radius: 8px;
}