/* Estilos padrão */
.conteinerTextoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.icones-container {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.icones {
    display: inline-block;
    padding: 0 10px;
}

/* Estilo da saudacoes e preferencia */
.saudacoes {
    font-size: 30px;
}

.preferencia {
    font-size: 80px;
}

.descricao > h1 {
    font-size: 90px;
}

.descricao > h4 {
    font-size: 30px;
}

.descricao > p {
    font-size: 20px;
}

aside > h5{
    font-size: 35px;
}


@media (max-width: 1240px) {
    .sobreMim {
        flex-direction: column !important;
        align-items: center !important;
        padding: 20px 50px !important;
    }

    .topicos {
        font-size: 14px;
        max-width: 100% !important;
        margin: 15px 0 !important;
        padding: 20px !important;
    }
    .configButton {
        display: flex !important;
        justify-content: center !important; 
        width: 100% !important; 
    }
    .button {
        margin-top: 20px !important; 
    }
    .projetos{
        height: auto !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 50px 50px !important;
    }
   
    .containerTextoImagem{
        flex-direction: column !important;
        align-items: center !important;
    }
    .botaoProjeto{
        width: 100% !important;
        margin-bottom: 20px;

    }

    .containerDescricaoProjeto1 {
        max-width: 600px;
        padding: 0 0 0 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }
    .tituloDoProjeto{
        display: flex;
        justify-content: center !important;
        padding: 10px;
    }
    figcaption{
        text-align: center !important;
    }
}

/* Estilo para dispositivos com largura até 768px */
@media screen and (max-width: 768px) {
   
    .saudacoes {
        font-size: 20px;
    }

    .preferencia {
        font-size: 90px;
    }

    .descricao > h1 {
        font-size: 70px;
    }

    .descricao > h4 {
        font-size: 24px;
    }

    .descricao > p {
        font-size: 18px;
    }

    .conteinerTextoImg {
        flex-direction: column;
        text-align: center;
    }

    .icones-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icones {
        margin: 0 10px;
    }

    .icones img {
        width: 50px;
        height: 50px;
    }
    
    aside > h5{
        font-size: 25px;
    }   

   
}

/* Estilo para dispositivos com largura até 480px */
@media screen and (max-width: 480px) {
    
    .saudacoes {
        font-size: 20px;
    }
    .preferencia {
        font-size: 60px;
    }

    .descricao > h1 {
        font-size: 60px;
    }

    .descricao > h4 {
        font-size: 24px;
    }

    .descricao > p {
        font-size: 18px;
    }

    .icones-container {
        flex-direction: column;
        align-items: center;
    }

    .icones {
        margin: 5px 0;
    }

    .icones img {
        width: 30px;
        height: 30px;
    }
    .topicos{
        box-shadow: none !important;
        transition: none !important;
    }
    .topicos:hover{
        transform: none !important;
    }
    .projetos{
        font-size: 23px !important;
    }
    
    .containerTextoImagem{
        max-width: 370px !important;
    }
    .containerImagem > figure > img{
        max-width: 370px !important;
        
    }
}


/* Estilo para dispositivos com largura até 414px */
@media screen and (max-width: 414px) {
    
    .saudacoes {
        font-size: 18px;
    }
    .preferencia {
        font-size: 70px;
    }

    .descricao > h1 {
        font-size: 70px;
    }

    .descricao > h4 {
        font-size: 26px;
    }

    .descricao > p {
        font-size: 18px;
    }

    .icones-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icones {
        margin: 5px 10px;
    }

    .icones img {
        width: 40px;
        height: 40px;
    }

    .topicos {
        font-size: 14px;
        box-shadow: none !important;
        transition: none !important;
    }
    .topicos:hover{
        transform: none !important;
    }
}

/* Estilo para dispositivos com largura até 390px */
@media screen and (max-width: 390px) {
    
    .saudacoes {
        font-size: 18px;
    }
    .preferencia {
        font-size: 65px;
    }

    .descricao > h1 {
        font-size: 65px;
    }

    .descricao > h4 {
        font-size: 28px;
    }

    .descricao > p {
        font-size: 18px;
    }

    .icones-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icones {
        margin: 5px 8px;
    }

    .icones img {
        width: 35px;
        height: 35px;
    }
    .sobreMim {
        padding: 20px 50px !important;
    }

    .topicos {
        font-size: 14px;
        max-width: 100% !important;
        margin: 15px 0 !important;
        padding: 12px !important;
        box-shadow: none !important;
        transition: none !important;
    }
    .topicos:hover{
        transform: none !important;
    }
}

@media screen and (max-width: 334px) {
    .sobreMim {
        padding: 25px 18px !important;    }

    .topicos {
        font-size: 16px;
        max-width: 100% !important;
        margin: 14px 0 !important;
        padding: 10px !important;
    }
} 
@media screen and (max-width: 312px) and (min-width: 294px){
    .sobreMim {
        padding: 0px 6px !important;
    }

    .topicos {
        font-size: 15px;
        max-width: 100% !important;
        margin: 20px 0 !important;
        padding: 10px !important;
        box-shadow: none !important;
        transition: none !important;
    }
    .topicos:hover{
        transform: none !important;
    }
}


/* Estilo para dispositivos com largura até 430px */
@media screen and (max-width: 430px) {
    
    .saudacoes {
        font-size: 18px;
    }
    .preferencia {
        font-size: 75px;
    }

    .descricao > h1 {
        font-size: 75px;
    }

    .descricao > h4 {
        font-size: 32px;
    }

    .descricao > p {
        font-size: 20px;
    }

    .icones-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icones {
        margin: 5px 12px;
    }

    .icones img {
        width: 40px;
        height: 40px;
    }

    
}

/* Estilo para dispositivos com largura até 360px */
@media screen and (max-width: 360px) {
    
    .saudacoes {
        font-size: 18px;
    }
    .preferencia {
        font-size: 50px;
    }

    .descricao > h1 {
        font-size: 50px;
    }

    .descricao > h4 {
        font-size: 24px;
    }

    .descricao > p {
        font-size: 14px;
    }

    .icones-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .icones {
        margin: 5px 8px;
    }

    .icones img {
        width: 30px;
        height: 30px;
    }

    
}
/* Estilo para dispositivos com resolução de 375 x 667 pixels */
@media screen and (max-width: 375px) {
    
    .saudacoes {
        margin-top: 0px;
        font-size: 19px;
    }
    
    .preferencia {
        font-size: 85px;
    }

    .descricao > h1 {
        font-size: 73px;
    }

    .descricao > h4 {
        font-size: 18px;
    }

    .descricao > p {
        font-size: 18px;
    }
    .aviso > h5 {
        font-size: 21px;
    }
    .aviso > p {
        font-size: 12px;
    }
    

    .icones-container {
        flex-direction: row; 
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .icones {
        margin: 0px -5px;
    }

    .icones img {
        width: 10px; 
        height: 10px; 
    }
    .projetos{
        font-size: 18px !important;
    }
    .projetos > .tituloDoProjeto > h2{
        font-size: 23px !important;
    }
    .containerDescricaoProjeto1 > p{
        font-size: 25px;
    
    }
    .containerTextoImagem{
        max-width: 300px !important;
    }
    .containerImagem > figure > img{
        max-width: 300px !important;
        
    }
}

@media screen and (max-width: 325px) and (min-width: 310px){
    .projetos{
        font-size: 18px !important;
    }
    .projetos > .tituloDoProjeto > h2{
        font-size: 23px !important;
    }
    .containerDescricaoProjeto1 > p {
        font-size: 17px;
        padding: 0 0 0px 0;     
    }
    .containerTextoImagem{
        max-width: 300px !important;
        
    }
    .containerImagem > figure > img{
        max-width: 300px !important;
        
    }
}

@media screen and (max-width: 310px){
    .projetos{
        font-size: 15px !important;
    }
    .projetos > .tituloDoProjeto > h2{
        font-size: 23px !important;
    }
    .containerDescricaoProjeto1 > p {
        font-size: 14px;
        padding: 0 0 0px 0;     
    }
    .containerTextoImagem{
        max-width: 255px !important;
        
    }
    .containerImagem > figure > img{
        max-width: 255px !important;
        
    }
}

    /* Estilo para dispositivos com resolução de 667 x 375 pixels */
@media screen and (max-width: 667px) and (min-width: 375px) {
    
    .saudacoes {
        font-size: 17px;
    }
    .preferencia {
        font-size: 50px; 
    }

    .descricao > h1 {
        font-size: 50px; 
    }

    .descricao > h4 {
        font-size: 20px;
    }

    .descricao > p {
        font-size: 16px; 
    }

    .icones-container {
        flex-direction: row; 
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .icones {
        margin: 5px 8px; 
    }

    .icones img {
        width: 30px; 
        height: 30px; 
    }
    .projetos{
        font-size: 23px !important;
    }
    

    
    .containerTextoImagem{
        max-width: 450px;
    }
    .containerImagem > figure > img{
        max-width: 450px;
        
    }

    
}
/* Estilo para dispositivos com resolução de 740 x 360 pixels */
@media screen and (max-width: 740px) and (min-width: 360px) {
    
    .saudacoes {
        margin-top: 4px;
        font-size: 17px;
    }
    .preferencia {
        font-size: 55px;
    }

    .descricao > h1 {
        font-size: 55px; 
    }

    .descricao > h4 {
        font-size: 24px; 
    }

    .descricao > p {
        font-size: 18px;
    }

    .icones-container {
     
        flex-direction: row; 
        justify-content: center; 
        flex-wrap: wrap; 
    }

    .icones {
        margin: 5px 10px; 
    }

    .icones img {
        width: 35px; 
        height: 35px; 
    }

    
}

