/* Estilos padrão */




/* Estilo da saudacoes e preferencia */

.descricao>h1 {
    font-size: 90px;
}

.descricao>h4 {
    font-size: 30px;
}

.descricao>p {
    font-size: 20px;
}

aside>h5 {
    font-size: 35px;
}

@media (max-width: 1240px) {
    .sobreMim {
        flex-direction: column !important;
        align-items: center !important;
        padding: 20px 50px !important;
    }

    
    .configButton {
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
    }

    .button {
        margin-top: 20px !important;
    }

    .projetos {
        height: auto !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 50px 50px !important;
    }

    .containerTextoImagem {
        flex-direction: column !important;
        align-items: center !important;
    }

    .botaoProjeto {
        width: 100% !important;
        margin-bottom: 20px;

    }

    .containerDescricaoProjeto1 {
        max-width: 600px;
        padding: 0 0 0 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }

    .containerDescricaoProjeto2 {
        max-width: 600px;
        padding: 0 0 0 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }

    .tituloDoProjeto {
        display: flex;
        justify-content: center !important;
        padding: 10px;
    }

    figcaption {
        text-align: center !important;
    }

    .footer {
        height: auto !important;
    }

    .direitosCriador {
        padding: 50px 5px 50px 5px;
    }
}

/* Estilo para dispositivos com largura até 768px */
@media screen and (max-width: 768px) {



    .descricao>h1 {
        font-size: 70px;
    }

    .descricao>h4 {
        font-size: 24px;
    }

    .descricao>p {
        font-size: 18px;
    }

    .conteinerTextoImg {
        flex-direction: column;
        text-align: center;
    }




    aside>h5 {
        font-size: 25px;
    }


}

/* Estilo para dispositivos com largura até 480px */
@media screen and (max-width: 480px) {

    .descricao>h1 {
        font-size: 60px;
    }

    .descricao>h4 {
        font-size: 24px;
    }

    .descricao>p {
        font-size: 18px;
    }



    .containerTopicos {
        box-shadow: none !important;
        transition: none !important;
    }

    .containerTopicos:hover {
        transform: none !important;
    }

    .projetos {
        font-size: 23px !important;
    }

    .containerTextoImagem {
        max-width: 370px !important;
    }

    .containerImagem>figure>img {
        max-width: 370px !important;

    }
}


/* Estilo para dispositivos com largura até 414px */
@media screen and (max-width: 414px) {

    .descricao>h1 {
        font-size: 70px;
    }

    .descricao>h4 {
        font-size: 26px;
    }

    .descricao>p {
        font-size: 18px;
    }



    .containerTopicos {
        font-size: 14px;
        box-shadow: none !important;
        transition: none !important;
    }

    .containerTopicos:hover {
        transform: none !important;
    }
}

/* Estilo para dispositivos com largura até 390px */
@media screen and (max-width: 390px) {


    .descricao>h1 {
        font-size: 65px;
    }

    .descricao>h4 {
        font-size: 28px;
    }

    .descricao>p {
        font-size: 18px;
    }


    .sobreMim {
        padding: 20px 50px !important;
    }

    .containerTopicos {
        font-size: 14px;
        max-width: 100% !important;
        margin: 15px 0 !important;
        padding: 12px !important;
        box-shadow: none !important;
        transition: none !important;
    }

    .containerTopicos:hover {
        transform: none !important;
    }
}

@media screen and (max-width: 334px) {
    .sobreMim {
        padding: 25px 18px !important;
    }

    .containerTopicos {
        font-size: 16px;
        max-width: 100% !important;
        margin: 14px 0 !important;
        padding: 10px !important;
    }
}

@media screen and (max-width: 312px) and (min-width: 294px) {
    .sobreMim {
        padding: 0px 6px !important;
    }

    .containerTopicos {
        font-size: 15px;
        max-width: 100% !important;
        margin: 20px 0 !important;
        padding: 10px !important;
        box-shadow: none !important;
        transition: none !important;
    }

    .containerTopicos:hover {
        transform: none !important;
    }
}


/* Estilo para dispositivos com largura até 430px */
@media screen and (max-width: 430px) {



    .descricao>h1 {
        font-size: 75px;
    }

    .descricao>h4 {
        font-size: 32px;
    }

    .descricao>p {
        font-size: 20px;
    }

    .mensagemApresentacao {
        display: block !important;
        padding-top: 10px;
        text-align: center;
    }

    .name {
        display: flex !important;
        padding: 0 !important;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-self: center;
    }

    .emojiHand {
        justify-content: center;
        ;
    }


}

/* Estilo para dispositivos com largura até 360px */
@media screen and (max-width: 360px) {



    .descricao>h1 {
        font-size: 50px;
    }

    .descricao>h4 {
        font-size: 24px;
    }

    .descricao>p {
        font-size: 14px;
    }




}

/* Estilo para dispositivos com resolução de 375 x 667 pixels */
@media screen and (max-width: 375px) {



    .descricao>h1 {
        font-size: 73px;
    }

    .descricao>h4 {
        font-size: 18px;
    }

    .descricao>p {
        font-size: 18px;
    }

    .aviso>h5 {
        font-size: 21px;
    }

    .aviso>p {
        font-size: 12px;
    }



    .projetos {
        font-size: 18px !important;
    }

    .projetos>.tituloDoProjeto>h2 {
        font-size: 23px !important;
    }

    .containerDescricaoProjeto1>p {
        font-size: 25px;

    }

    .containerDescricaoProjeto2>p {
        font-size: 25px;

    }

    .containerTextoImagem {
        max-width: 300px !important;
    }

    .containerImagem>figure>img {
        max-width: 300px !important;

    }
}

@media screen and (max-width: 325px) and (min-width: 310px) {

    .projetos {
        font-size: 18px !important;
    }

    .projetos>.tituloDoProjeto>h2 {
        font-size: 23px !important;
    }

    .containerDescricaoProjeto1>p {
        font-size: 17px;
        padding: 0 0 0px 0;
    }

    .containerDescricaoProjeto2>p {
        font-size: 17px;
        padding: 0 0 0px 0;
    }

    .containerTextoImagem {
        max-width: 300px !important;

    }

    .containerImagem>figure>img {
        max-width: 300px !important;

    }
}

@media screen and (max-width: 310px) {
    .projetos {
        font-size: 15px !important;
    }

    .projetos>.tituloDoProjeto>h2 {
        font-size: 23px !important;
    }

    .containerDescricaoProjeto1>p {
        font-size: 14px;
        padding: 0 0 0px 0;
    }

    .containerDescricaoProjeto2>p {
        font-size: 14px;
        padding: 0 0 0px 0;
    }

    .containerTextoImagem {
        max-width: 255px !important;

    }

    .containerImagem>figure>img {
        max-width: 255px !important;

    }
}

/* Estilo para dispositivos com resolução de 667 x 375 pixels */
@media screen and (max-width: 667px) and (min-width: 375px) {



    .descricao>h1 {
        font-size: 50px;
    }

    .descricao>h4 {
        font-size: 20px;
    }

    .descricao>p {
        font-size: 16px;
    }




    .projetos {
        font-size: 23px !important;
    }



    .containerTextoImagem {
        max-width: 450px;
    }

    .containerImagem>figure>img {
        max-width: 450px;

    }


}

/* Estilo para dispositivos com resolução de 740 x 360 pixels */
@media screen and (max-width: 740px) and (min-width: 360px) {


    .descricao>h1 {
        font-size: 55px;
    }

    .descricao>h4 {
        font-size: 24px;
    }

    .descricao>p {
        font-size: 18px;
    }

    .icones-container {

        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }



}

/* Estilo para dispositivos com resolução de 553 pixels */

@media screen and (max-width: 560px) {
    .containerApresentacao {
        padding: 10px;
    }

    .containerApresentacao,
    .containerProfissao,
    .nomeProfissaoTopo,
    .nomeProfissaoBaixo,
    .containerProfissao {
        display: block !important;
        justify-content: center;
        justify-items: center;
    }

    .nomeProfissaoTopo,
    .nomeProfissaoBaixo {
        font-size: 75px;
        text-align: center;
    }

    .containerProfissao>ul>li>a {
        padding: 0;
    }

    .containerProfissao>ul>li>a>img {
        width: 38px;
        margin-top: 0;
    }

    .containerApresentacao {
        width: 100%;
    }

    .containerProfissao {
        width: 100%;
        justify-items: center;
        justify-self: center;
    }

    /* .name{
        display: flex !important;
        padding: 0 !important;
        flex-wrap: wrap;
        align-content: flex-start;
    } */
    .mensagemApresentacao {
        font-size: 28px;
    }

    .containerDescricao {
        padding: 0 16px;
    }

    .containerTopicos {
        font-size: 15px !important;
    }
}


/* Estilos responsivos */
@media (max-width: 409px) {
    header {
        position: fixed;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .menuHamburguer {
        display: flex;
        /* Mostra o botão hambúrguer em telas pequenas */
    }

    .navBar {
        display: none;
        /* Oculta o menu de navegação por padrão em telas pequenas */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        max-height: 0;
        /* Inicialmente oculto */
    }

    .navBar.active {
        display: flex;
        max-height: 500px;
        /* Altura suficiente para mostrar o menu */
        position: static;
        /* Faz o menu ocupar o espaço normal */
        z-index: 2;
        padding: 0 25px 0 0;
    }

    .cabecalho {
        margin: 10px 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navLink {
        font-size: 1.2em;
    }

    .about {
        height: auto;
        max-width: 100%;
    }

}

/* Resolução para dispositivos grandes (Desktop) */
@media (min-width: 1200px) {

    /* Estilos para desktop */
    .faleComigo {
        display: flex !important;
    }
}

/* Resolução para dispositivos médios (Tablets e alguns pequenos desktops) */
@media (min-width: 768px) and (max-width: 1199px) {

    /* Estilos para tablets */
    .faleComigo {
        display: flex !important;
    }

    .colunaMensagem>h2 {
        font-size: 48px;
    }

    .colunaTexto>h2 {
        font-size: 48px;
    }
}

/* Resolução para dispositivos pequenos (Smartphones maiores) */
@media (min-width: 576px) and (max-width: 767px) {
    .faleComigo {
        display: block !important;
        margin: 0 !important;
    }

    .colunaMensagem {
        border-radius: 0 !important;
    }

    .colunaTexto {
        border-radius: 0 !important;
        padding: 100px;
    }

    .colunaMensagem>h2 {
        font-size: 48px;
    }

    .colunaTexto>h2 {
        font-size: 48px;
    }

    #botaoEnviar {
        padding: 0 !important;
    }
}

/* Resolução para dispositivos muito pequenos (Smartphones menores) */
@media (max-width: 575px) {
    .faleComigo {
        display: block !important;
        width: auto;
        justify-items: center;
        margin: 0 !important;
    }

    .colunaMensagem {
        border-radius: 0 !important;
    }

    .colunaTexto {
        border-radius: 0 !important;
    }

    .colunaMensagem>h2 {
        font-size: 48px;
    }

    .colunaTexto>h2 {
        font-size: 48px;
    }

    #botaoEnviar {
        padding: 0 !important;
    }

}
@media (max-width: 411px) {
    /* Estilos para Pixel 1 ou dispositivos menores */
    .icones{
        justify-content: center;
    }
    .barraFooter{
        margin: 10px 0 50px 0 !important;
    }
    .linhaFooter{
        display: flex !important;
        gap: 10px !important;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .coluna1{
        text-align: center !important;
        gap: 10px !important;
    }
    .coluna2{
        display: block !important;
    }
    .Copyright{
        padding: 0 16px;
    }
  }
  @media (max-width: 480px) {
    .icones{
        justify-content: center;
    }
    .barraFooter{
        margin: 10px 0 50px 0 !important;
    }
    .linhaFooter{
        display: flex !important;
        gap: 10px !important;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .coluna1{
        text-align: center !important;
        gap: 10px !important;
    }
    .coluna2{
        display: block !important;
    }
    .Copyright{
        padding: 0 16px;
    }
  }
  @media (max-width: 768px) {
    .icones{
        justify-content: center;
    }
    .barraFooter{
        margin: 10px 0 50px 0 !important;
    }
    .linhaFooter{
        display: flex !important;
        gap: 10px !important;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .coluna1{
        text-align: center !important;
        gap: 10px !important;
    }
    .coluna2{
        display: block !important;
    }
    .Copyright{
        padding: 0 16px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1199px) {
    .icones{
        justify-content: center;
    }
    .barraFooter{
        margin: 10px 0 50px 0 !important;
    }
    .linhaFooter{
        display: flex !important;
        gap: 10px !important;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .coluna1{
        text-align: center !important;
        gap: 10px !important;
    }
    .coluna2{
        display: block !important;
    }
    .Copyright{
        padding: 0 16px;
    }
  }