:root {
  --white: #ffffff;
  --gray: #a0a0a0;
  --black: #000000;
  --primary-color: #a58bbe;
  --secondary-color: #232024;
  --dark-secondary-color: #000000;
  --tertiary-color: #ffffff;
  --light-tertiary-color: #222222;
  --text-color: #000000;

}
