:root{
  --white: white;
  --white5opacity: rgba(255, 255, 255, 0.05);
  --black: black;
  --black50opacity: rgba(0, 0, 0, 0.5);
  --blue : blue;
  --oceanblue: #00BBFF;
  --lightblue: #26B7FF;
  --darkblue: #406A99;
  --textblue: #4A93CE;
  --bc: #001226;
  --brightblue: #43ECFF;
  --darkgray: #161616;
  --gray: #B2BECD;
}
