:root {
  --primary-color: #161616;
  --secondary-color: #5996c9;
  --purple: #31647e;
  --lightgray: #86dbcd;
  --white: #ffffff;
  --lightpurplue: #36647e;
  --lightyellow: #FF622B;
  --yellow: #FFD214;
  --ly: #FFF8C0;
}
