.about{
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 106vh;
}

.containerApresentacao{
    justify-self: center;
    
    width: auto;
    padding: 2px 10px 2px 10px;
    display: block;
    max-width: 530px;
    height: auto;
    align-content: center;
}

.mensagemApresentacao{
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    color: var(--secondary-color);
}
.containerProfissao{
    display: flex;
    height: auto;
    list-style: none;
    justify-content: center ;
    
}
.nomeProfissaoTopo{
    
    justify-content: stretch;
    align-content: end;
    height: 114px;
    width: auto;
    color: var(--white);
    padding-top: 10px;

}
.nomeProfissaoBaixo{
    display: flex;
    
    justify-content: center;
    align-content: flex-start;
    height: auto;
    width: auto;
    color: var(--white);
}
 .icones{
    display: flex;
    list-style: none;
    gap: 10px;
    height: auto;
    align-items: end;
}
.containerProfissao > ul > li > a {
    padding: 0 2px;
    height: auto;
}
.containerProfissao > ul > li > a > img{
    width: 50px;
    margin-top: 28px;
    height: auto;
}
.emojiHand{
    display: flex;
    padding: 0 2px 0 2px;
    
}
.name{
    display: flex;
    padding: 0 5px 0 5px;
    align-items: center;
    color: var(--white);
    flex-direction: column-reverse;
    justify-content: center;
}

.emojiHand {
    animation: wave 1s infinite alternate;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(30deg); }
}
@keyframes descerParaBaixo {
    from { transform: translateY(-15px); }
    to { transform: translateY(0); }
}

.icone > a > img {
    width: 50px;
    animation: descerParaBaixo 0.7s forwards;
}

.icone > a > img:hover {
    animation: subirParaCima 0.6s forwards;
}

@keyframes subirParaCima {
    from { transform: translateY(0); }
    to { transform: translateY(-15px); }
}

.containerDescricao{
    display: block;
    width: 100%;
    height: auto;
    text-align:  justify;
}
.nomeProgramas{
    color: var(--secondary-color);
}
.descricaoMinha{
    color: var(--lightpurplue);
}