aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 15vh; 
    text-align: center;
    padding: 5px;
    margin-top: 10px;
  }
  
  .asideMensagemAnimacao,
  .asideChamadaAnimacao {
    position: relative;
    left: -100%; 
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .asideMensagemAnimacao.animated,
  .asideChamadaAnimacao.animated {
    left: 0; 
    opacity: 1;
  }
