header {
    background-color: var(--primary-color);
}

.barra {
    background-color: #fff;
    color: #000;
}

.navLink {
    color: var(--secondary-color);
}

.navLink:hover {
    color: var(--primary-color);
}

.cabecalho:hover {
    background-color: var(--secondary-color);
}

main {
    background-color: var(--primary-color);
}

.saudacoes {
    color: var(--secondary-color);
}

.nome {
    color: var(--white);
}

.preferencia {
    color: var(--white);
}

.descricao>h1 {
    color: var(--white);
}

.descricao>h4 {
    color: var(--secondary-color);

}

.descricao>p {
    color: var(--lightgray);
}

.sobreMim {
    background-color: var(--secondary-color);
}


.projetos {

    color: var(--primary)
}

#projeto1 {
    background-image: linear-gradient(var(--lightgray), var(--secondary-color));
}

#projeto2 {
    background-image: linear-gradient(var(--secondary-color), var(--lightgray));
}

.botaoProjeto {
    background-color: var(--black);
}

.botaoProjeto>a {
    color: var(--white);
}





aside {
    background-image: linear-gradient(var(--yellow), var(--lightyellow));
    color: var(--ly);
}

footer {
    background-color: var(--lightpurplue);
}

.footerTexto {
    color: var(--white);
}

.footerMensagem {
    color: var(--lightgray);

}

.footerContato,
a {
    color: var(--white);
}

.direitosCriador {
    color: var(--lightgray);
}

.colunaTexto>h2 {
    color: var(--primary-color);
}

.colunaMensagem>h2 {
    color: var(--secondary-color);
}

#inputFile {
    background-color: var(--gray);
    color: var(--black);
}

.colunaMensagem {
    background-color: var(--gray-lb);
}