/* Estilos para Cabeçalhos e Parágrafos */
h3 {
    color: var(--primary-color); /* Cor do texto */
    font-size: 30px; /* Tamanho da fonte */
}

h1 {
    color: var(--white); /* Cor do texto */
    font-size: 120px; /* Tamanho da fonte */
}

h4 {
    padding: 0; /* Remove o preenchimento */
    color: var(--primary-color); /* Cor do texto */
    font-size: 25px; /* Tamanho da fonte */
}

/* Estilos para Parágrafos */
p {
    font-weight: 100; /* Define a espessura da fonte como fina */
    font-size: 15px; /* Tamanho da fonte */
    padding: 0; /* Remove o preenchimento */
    color: var(--white); /* Cor do texto */
    opacity: 0.8; /* Define a transparência do texto para 80% */
}

/* Estilos para Texto no Rodapé */
.footerTexto {
    color: var(--white); /* Cor do texto */
}

/* Estilos para Span */
span {
    color: var(--white); /* Cor do texto */
}
