footer {
    background-color: #493f53;
  }
  
  footer .footer__content {
    text-align: center;
  }
  
  footer .footer__content .footer__contact span {
    display: block;
    font-weight: 500;
  }
  
  footer .footer__content ul li {
    display: inline-block;
  }
  
  footer .footer__content ul a {
    display: inline-block;
    padding: 1rem;
  }
  
  footer .footer__content .footer__copyright {
    font-size: 1.4rem;
  }
  
  footer .footer__content .mb-l li a > img {
    width: 40px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção original da imagem */
  }

  footer .footer{
    padding: 1000px;
  }
  #footer{
    padding: 150px 10px 400px 10px;
  }
  footer .footer__contact{
    padding: 20px 0
  }
  footer .footer__content > .fim{
    padding-top: 100px;
  }
  .footer__contact {
    margin-bottom: 10px; /* Adiciona margem inferior */
}