footer {
  background-color: var(--lightpurplue);
  text-align: center;
  padding: 30px 4px 0px 4px;
  height: 100vh;
}

.footerConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerTexto {
  font-size: 1.8em;
  margin-bottom: 10px;
}
.footerMensagem {
  font-size: 0.8em;
  margin-bottom: 10px;
  letter-spacing: 0.2em;
  padding: 0 10px 0 10px;

}
.footerContato {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 10px;
}

.footerContato span {
  font-size: 1em; 
}
.footerImagens {
  list-style: none;
  padding: 44px 0;
}

.footerImagens li {
  display: inline-block;
  margin: 0 10px;
}

.direitosCriador {
  letter-spacing: -0.1em;
  font-size: 0.7em;
  margin-top: 120px;
}