.navBar {
    display: flex;
    list-style-type: none; /* Remove os marcadores das listas */
}

.cabecalho {
    padding: 10px;
    margin: 10px 15px; /* Espaçamento entre os itens de navegação */
    border-radius: 20px;
    transition: 1s ease;
}

.navLink {
    text-decoration: none; /* Remove a sublinha dos links */
    font-size: 1.2em; /* Tamanho da fonte */
}

.cabecalho:hover{
    border-radius: 10px;
    transition: 1s;
}
.navLink:hover{
    transition: 1s;
}
