.faleComigo {
    margin: 160px;
    display: flex;
    height: auto;
    max-width: 800;
}

.colunaTexto {
    width: 100%;
    height: auto;
    background-color: var(--white);
    display: block;
    justify-items: center;
    align-content: center;
    border-radius: 16px 0 0 16px;
}

.colunaTexto>h2 {
    text-align: center;
}

.colunaMensagem {
    width: 100%;
    height: auto;
    background-color: var(--gray-lb);
    display: block;
    justify-content: center;
    align-content: center;
    border-radius: 0 16px 16px 0;
}


.colunaMensagem>h2 {
    text-align: center;
    font-size: 80px;
}

form {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 60px;
    justify-content: center;
    margin: 16px 0;
}

label {
    color: var(--white);
    margin-left: 2px;
}

input {
    margin-bottom: 10px;
}

button {
    background-color: transparent;
    border: 4px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: 16px;
}